<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lolteam.user %>
</p>

<p>
  <strong>Bet:</strong>
  <%= @lolteam.bet %>
</p>

<p>
  <strong>Slot1:</strong>
  <%= @lolteam.slot1 %>
</p>

<p>
  <strong>Slot2:</strong>
  <%= @lolteam.slot2 %>
</p>

<p>
  <strong>Slot3:</strong>
  <%= @lolteam.slot3 %>
</p>

<p>
  <strong>Slot4:</strong>
  <%= @lolteam.slot4 %>
</p>

<p>
  <strong>Slot5:</strong>
  <%= @lolteam.slot5 %>
</p>

<p>
  <strong>Slot6:</strong>
  <%= @lolteam.slot6 %>
</p>

<p>
  <strong>Slot7:</strong>
  <%= @lolteam.slot7 %>
</p>

<%= link_to 'Edit', edit_lolteam_path(@lolteam) %> |
<%= link_to 'Back', lolteams_path %>
