<br>
<% @bets.each do |bet| %>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="panel panel default bet-panes">
      <div class="panel heading">
        <h4><%="Type: #{bet.bet_type} | Buy-in: #{number_to_currency(bet.cost / 100)}" %></h4>
      </div>
      <div class="panel body">
        <h4><%= "Start Time: #{bet.start_time.strftime('%b %d | %I:%M:%S %p')}" %><br> <%="End Time: #{bet.end_time.strftime('%b %d | %I:%M:%S %p')}"%></h4>
        <h3><%= "#{bet.user_count} of #{bet.entrants}" %></h3>
        <%= link_to "Details", bet_path(bet), class: 'btn btn-lg btn-danger' %>
      </div>
    </div>
  </div>
<% end %>
