<h3>Number of Entrants | <%=@bet.bet_users.count %> / <%= @bet.entrants %><br></h3>
<h3>Start: <%= @bet.start_time %><br></h3>
<h3>End: <%= @bet.end_time %><br></h3>
<h3>Cost: <%= @bet.cost %><br></h3>
<h3>Type: <%= @bet.bet_type %><br></h3>
<h3>Open: <%= !@bet.completed %><br></h3>
<h3>PEOPLE JOINED </h3>
<% @bet.users.each do |user| %>
  <p> <%=user.username%></p>
<%end%>
<p>Other shit about your current account limit, rules, yada yada</p><br>

<%= link_to "Join Bet", new_bet_lolteam_path(params[:id]), class: "btn btn-danger btn-lg" %>
