<div class="row">
  <%= render 'bets/shared/noobbets_tabs' %>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h1><%= "#{@bet.bet_type} Payout: #{@bet.reward}" %></h1></div>
      <div class="panel-body">
        <h4><%= "Competitors: #{@bet.users.count} | Entry: #{@bet.cost} Boons " %>
        <% if @bet.end_time > DateTime.now %>
          | Time Remaining: <span class='time-remaining'><%= @bet.end_time - DateTime.now %></span>
        <% end %>
        <% if @bet.start_time > DateTime.now %>
          | Starts In: <span class='time-remaining'><%= @bet.start_time - DateTime.now  %></span>
        <% end %>
        </h4>
      </div>


      <table class="table table-hover">
        <thead class="">
          <th>Position</th>
          <th>Username</th>
          <th>Total Score</th>
          <th>Reward</th>
        </thead>
        <tbody>
          <% @user_objects.each_with_index do |usr, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= User.find(usr[:user_id]).username %></td>
            <td><%= usr['total_score'].round(2) %></td>
            <td><%= @bet.reward %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>

    <div class="well well-lg noobbets-well-heading">
      <div class="col-lg-3">
        Position: <%= @user_objects.index { |obj| obj[:user_id] == current_user.id && obj[:lolteam_id] == params[:id].to_i } + 1 %>
        <!-- AND LOLTEAM_ID == PARAMS -->
      </div>
      <div class="col-lg-5">
        <%= current_user.username %><br>

      </div>
      <div class="col-lg-4">
        <%= "Total Score: #{@current_user_team['total_score'].round(2)}" %>
      </div>
    </div>

    <table class="table table-hover">
      <tbody>
        <tr>
          <td><%= @current_user_team['name1']%></td>
          <td><%= @current_user_team['slot1']%></td>
        </tr>
        <tr>
          <td><%= @current_user_team['name2']%></td>
          <td><%= @current_user_team['slot2']%></td>
        </tr>
        <tr>
          <td><%= @current_user_team['name3']%></td>
          <td><%= @current_user_team['slot3']%></td>
        </tr>
        <tr>
          <td><%= @current_user_team['name4']%></td>
          <td><%= @current_user_team['slot4']%></td>
        </tr>
        <tr>
          <td><%= @current_user_team['name5']%></td>
          <td><%= @current_user_team['slot5']%></td>
        </tr>
        <tr>
          <td><%= @current_user_team['name6']%></td>
          <td><%= @current_user_team['slot6']%></td>
        </tr>
        <tr>
          <td><%= @current_user_team['name7']%></td>
          <td><%= @current_user_team['slot7']%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
