<h1 style="visibility:hidden">Don'tShow></h1>
<h1>Rankings</h1>

<table class="table table-hover">
  <thead>
    <th>Position</th>
    <th>Username</th>
    <th>Total Score</th>
    <th>Summoner 1</th>
    <th>Summoenr 2</th>
    <th>Summoner 3</th>
    <th>Summoner 4</th>
    <th>Summoner 5</th>
    <th>Summoner 6</th>
    <th>Summoner 7</th>
  </thead>
  <tbody>
  <% @teams.each_with_index do |lol,idx| %>
    <tr>
      <td><%= idx + 1 %></td>
      <td><%= link_to Lolteam.find(lol[0]).user.username, "#" %></td>
      <td></td>
      <td><%= lol[1]['name1']%></td>
      <td><%= lol[1]['name2']%></td>
      <td><%= lol[1]['name3']%></td>
      <td><%= lol[1]['name4']%></td>
      <td><%= lol[1]['name5']%></td>
      <td><%= lol[1]['name6']%></td>
      <td><%= lol[1]['name7']%></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= lol[1]['total_score']%></td>
      <td><%= lol[1]['slot1']%></td>
      <td><%= lol[1]['slot2']%></td>
      <td><%= lol[1]['slot3']%></td>
      <td><%= lol[1]['slot4']%></td>
      <td><%= lol[1]['slot5']%></td>
      <td><%= lol[1]['slot6']%></td>
      <td><%= lol[1]['slot7']%></td>
    </tr>
  <% end %>
  </tbody>
</table>
