<div class="col-lg-6 col-lg-offset-2">
  <div class="col-lg-6 col-lg-offset-6">
    <h2>Log in</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :email, "Email", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

     <div class="form-group">
        <%= f.label :password, "Password", class: "col-sm-4 control-label" %>
        <div class='col-sm-8'>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <div class="col-lg-6 col-lg-offset-6">
        <%= f.submit "Sign In", class: 'btn btn-lg btn-success' %>
      </div>
    </div>

  <% end %>
  </div>
  <%= render "devise/shared/links" %>

</div>

