<!DOCTYPE html>
<html>
<head>
  <title>Noobbets</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
     <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <% if controller.controller_name == "homes" %>
    <%= render 'shared/navbar' %>
  <% else %>
    <%= render 'shared/default_nav' %>
  <% end %>

  <div class="container-fluid">
    <%= render 'shared/devise_flash_messages' %>
  </div>

  <% if controller.controller_name != "homes" %>
    <%= content_tag :div, yield, class: "container" %>
  <% else %>
    <%= yield %>
  <% end %>

  <!-- This is here for timezone offsets.  See http://joshowens.me/dealing-with-timezones-in-javascript/ -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
</body>
</html>
